$md: 768px;
$xl: 1200px;

@mixin paragraph {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 1.3rem;
  white-space: nowrap;
  text-align: center;

  @media screen and (min-width: $xl) { font-size: 1.5rem; }
}

:root {
  --white-color: #f0f0f0;
  --accent-color: #be3144;
  --accent-color-2: #ff7f50;
  --neutral-dark-color: #303841;
  --neutral-blue-color: #45567d;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--white-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

#navbar {
  position: fixed;
  font-size: 1rem;
  background-color: var(--accent-color);
  width: 100%;
  padding: 1em;
  font-family: Poppins, sans-serif;

  @media screen and (min-width: $md) { font-size: 1.5rem; }

  ul {
    list-style-type: none;
    display: flex;
    gap: 2em;
    justify-content: flex-end;
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-section {
  height: 100vh;
  background: linear-gradient(90deg, #35373a, #1c1c1e);
  text-align: center;

  h1 {
    font-size: 3rem;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    white-space: nowrap;

    @media screen and (min-width: $md) { font-size: 5rem; }
    @media screen and (min-width: $xl) { font-size: 6rem; }
  }

  p {
    font-size: 2rem;
    font-family: Poppins, sans-serif;
    font-weight: 200;
    font-style: italic;
    color: var(--accent-color);
    white-space: nowrap;

    @media screen and (min-width: $xl) { font-size: 3rem }
  }
}

#projects {
  min-height: 100vh;
  background-color: var(--neutral-blue-color);
  padding: 4rem;

  h2 {
    font-size: 2rem;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 0.1em 0.5em;
    border-bottom: 1px solid var(--white-color);
    margin-bottom: 1.2em;
    white-space: nowrap;

    @media screen and (min-width: $md) { font-size: 3.1rem }
    @media screen and (min-width: $xl) { font-size: 4.2rem }
  }

  .projects-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    @media screen and (min-width: $md) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media screen and (min-width: $xl) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  #btn-show-all {
    background-color: var(--neutral-dark-color);

    @include paragraph();
    padding: 0.5em 1em;
    margin-top: 3em;
    border-radius: 0.1em;

    transition: background-color 0.3s linear;
    i { transition: transform 0.3s ease-in-out; }

    &:hover {
      background-color: var(--accent-color);
      i { transform: translateX(0.1em); }
    }
  }
}

.project-tile {
  width: 100%;
  height: 100%;
  background-color: var(--neutral-dark-color);

  a {
    text-decoration: none;
    display: block;

    &:hover {
      p span::before, p span::after {
        opacity: 1;
      }
    }
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  p {
    @include paragraph();
    padding: 1em;

    span::before { content: "< "; }
    span::after { content: " />"; }
    span::before, span::after {
      color: var(--accent-color-2);
      transition: opacity 0.3s linear;
      opacity: 0;
    }
  }
}

#contacts {
  text-align: center;
  height: 100vh;
  background-color: var(--neutral-dark-color);
  align-items: stretch;

  h2 {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 2rem;

    @media screen and (min-width: $md) { font-size: 4rem }
    @media screen and (min-width: $xl) { font-size: 6rem }
  }

  p {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    font-style: italic;
    margin-top: 0.2em;

    @media screen and (min-width: $md) { font-size: 1.2rem }
    @media screen and (min-width: $xl) { font-size: 1.4rem }
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;

    margin-top: 2em;

    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    white-space: nowrap;

    @media screen and (min-width: $md) {
      flex-direction: row;
      font-size: 1.4rem;
    }
    @media screen and (min-width: $xl) { font-size: 2.0rem; }

    text-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.5);

    a {
      transition: transform 0.3s ease-in-out;
      position: relative;

      &:hover {
        // transform: translateY(1em);
        color: red;
        transform: rotate(30deg);
      }
    }
  }
}